.footer {
  padding: 80px 0;
  background-color: $color-primary;
  color:$color-secondary;

  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 30px;
    grid-template-areas:
      "logo catalog customer contacts"
      "copyright . . author";

    @include laptop {
      grid-template-columns: 395px 235px 280px;
      grid-template-areas:
      "logo . ."
      "catalog customer contacts"
      "copyright . author";
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "logo ."
      "catalog customer"
      "catalog contacts"
      "copyright author";
    }

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas:
      "logo"
      "catalog"
      "customer"
      "contacts"
      "copyright"
      "author";
    }
  }

  &__logo{
    width: 146px;

    &-link {
      place-self: start;
      grid-area: logo;
    }
  }

  &__column {
    &-title {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%;

      @include mobile {
        font-size: 20px;
        line-height: 130%;
      }
    }
  }

  &__list {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }

    &_double {
      column-count: 2;

      @include tablet {
        column-count: auto;
      }
    }

    &_contacts {
      margin-bottom: 36px;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__item {
    margin-bottom: 15px;

    &_contacts {
      margin-bottom: 21px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    transition: color .36s ease-in-out;
    &:hover {
      color: $color-main;
    }
  }

  &__catalog {
    grid-area: catalog;
  }

  &__customer {
    grid-area: customer;
  }

  &__contacts {
    grid-area: contacts;
  }

}

.copyright {
  grid-area: copyright;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.author {
  grid-area: author;

  display: flex;
  flex-direction: column;

  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}



