.recommended {

  // .recommended__title

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px
  }

  &__swiper {
    margin-bottom: 100px;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $color-main !important;
}

.swiper-button-next, .swiper-button-prev {
  top: 95% !important;
  color: $color-main !important;
}
