.goods-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-height: 450px;
  height: 100%;
  width: 100%;

  @include laptop {
    min-height: 420px;
  }

  @include mobile {
    min-height: 252px;
  }

  &__image {
    display: block;
    margin-bottom: 10px;
    width: 100%;

    @include mobile {
      margin-bottom: 5px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__buy {
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    @include mobile {
      flex-direction: column;
      gap: 10px;
      align-items: start;
      padding-right: 0;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__to-cart {
    padding: 8px 20px;
    border: 1px solid $color-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: background-color .36s ease-in-out;

    @include mobile {
      font-size: 12px;
      line-height: 15px;
    }

    &:hover {
      background-color: $color-main;
    }

    &:active {
      background-color: $color-main-sub;
    }

    &:focus {
      background-color: $color-grey-light;
    }
  }
}