.filter {
  padding-top: 78px;
  max-width: 340px;

  @include tablet {
    display: none;
  }

  &__form {
    position: relative;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }

  &__field {
    margin-bottom: 30px;

    &-list {
      margin-bottom: 40px;
    }

    &-title {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    &-label {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 43px;
        top: 50%;
        transform: translateY(calc(-50% - 2px)) rotate(45deg);
        display: block;
        width: 10px;
        height: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: transparent $color-primary $color-primary transparent;
      }
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &_column {
      flex-direction: column;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__input {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid $color-primary;
    width: 165px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    @include laptop {
      width: 145px;
    }

    &_select {
      appearance: none;
      width: 100%;
      color: $color-grey;
    }

    &::placeholder {
      color: $color-grey;
    }
  }



  &__checkbox {
    margin-right: 10px;
  }

  &__apply {
    margin: 0 auto;
    padding: 8px 20px;
    display: block;
    background-color: $color-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-secondary;
    transition: background-color .36s ease-in-out;

    &:hover {
      background-color: $color-main;
    }

    &:active {
      background-color: $color-main-sub;
    }

    &:focus{
      background-color: $color-grey-light;
    }
  }

  &__reset {
    position: absolute;
    top: 5px;
    right: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-grey;
  }
}