
.address {

  @include desktop {
    max-width: 700px;
  }

  @include laptop {
    max-width: 100%;
  }

  // .address__title

  &__title {
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  // .address__form

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include tablet {
      gap: 10px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  // .address__label-select

  &__label-select {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 43px;
      top: 50%;
      transform: translateY(calc(-50% - 2px)) rotate(45deg);
      display: block;
      width: 10px;
      height: 10px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent $color-primary $color-primary transparent;
    }
  }

  // .address__item

  &__item {
    padding: 10px;
    width: 100%;
    height: 50px;
    color: $color-grey;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }

    @include tablet {
      font-style: 12px;
      line-height: 15px;
    }

   // .address__item_select

    &_select {
      appearance: none;
    }

   // .address__item_btn

    &_btn {
      background-color: $color-primary;
      color: $color-secondary;
      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: $color-main;
      }
    }

    &_checkbox {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }

  // .address__label-save

  &__label-save {
    grid-column: 3;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-grey;
  }
}
